<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/profile" method="post" class="form-contact">
                <p><a href="{{url_for('logout')}}">Выйти из профиля</a>
            <p><label>Имя, Фамилия: </label> <input type="text" name="name_surname" value={{current_user.get_name()}} required />
            <br>
            <label>Пол:</label><br>
            <label for="male">Мужской</label>
            <input type="radio" name="gender" id="male" value="Мужской"><br />
            <label for="female">Женский</label>
            <input type="radio" name="gender" id="female" value="Женский"><br />
            <p><label>Username: </label> <input type="text" name="username_" value={{current_user.get_id()}} required />
            <p><label>User id: </label> <input value={{current_user.get_user_id()}} disabled required/>
            <p><label>Должность: </label> <input type="text" name="profession_" value={{current_user.get_prof()}} required />
            <p><label>Пароль: </label> <input type="text" name="password_" value={{current_user.get_pass()}} required />
            <p><input type="submit" value="Редактировать" />
            </form>
{% endblock %}
</body>
</html>